DATABASE_URL=
SECRET_TOKEN=
ALGORITHM=HS256
TOKEN_EXPIRE=120
RESET_EXPIRE=15
SMTP_KEY=
MAIL_USERNAME=
FROM_MAIL=
MAIL_PASSWORD=
MAIL_PORT=587
MAIL_SERVER="smtp.gmail.com"
BASE_URL="http://localhost:8002"