DEBUG_ENABLED=false
DATABASE_URL=
ALGORITHM=HS256
TOKEN_EXPIRE=120
RESET_EXPIRE=15
SMTP_KEY=
MAIL_USERNAME=
FROM_MAIL=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_SERVER=
BASE_URL=
USER_SERVICE_URL=
AI_SERVICE_URL=
COMPLAINT_SERVICE_URL=
